.GFG {
    background-color: rgb(52, 121, 211);
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.GFJ {
background-color: rgb(218, 222, 226);
border: 2px solid rgb(194, 28, 28);
color: rgb(69, 55, 201);
padding: 5px 10px;
text-align: center;
display: inline-block;
font-size: 15px;
margin: 10px 30px;
cursor: pointer;
text-decoration: none;
}