.GFG {
    background-color: rgb(52, 121, 211);
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}
.GFJ {
background-color: rgb(218, 222, 226);
border: 2px solid rgb(194, 28, 28);
color: rgb(69, 55, 201);
padding: 5px 10px;
text-align: center;
display: inline-block;
font-size: 15px;
margin: 10px 30px;
cursor: pointer;
text-decoration: none;
}